# Dependencias
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Archivos de entorno y configuración
.env
.env.local
.env.development
.env.test
.env.production
config/local.js

# Archivos de logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos subidos por usuarios
# Reglas para cliente/uploads/ y sus subdirectorios
cliente/uploads/*
!cliente/uploads/.gitkeep
!cliente/uploads/fotos/
!cliente/uploads/logos/
!cliente/uploads/pdfs/
cliente/uploads/fotos/*
!cliente/uploads/fotos/.gitkeep
cliente/uploads/logos/*
!cliente/uploads/logos/.gitkeep
cliente/uploads/pdfs/*
!cliente/uploads/pdfs/.gitkeep

# Regla para cliente/img/uploads/ (se mantiene por si es una ruta distinta)
cliente/img/uploads/

# Archivos temporales
tmp/
temp/
.tmp
.temp
.cache/

# Archivos de compilación
dist/
build/
out/
.next/

# Archivos de cobertura
coverage/
.nyc_output/

# Archivos de base de datos local
*.sqlite
*.sqlite3
*.db

# Archivos específicos de IDE y editores de código
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.sublime
.project
.classpath
.settings/
.directory
Thumbs.db
desktop.ini

# Archivos de sistema operativo
.DS_Store
Thumbs.db
desktop.ini